<header class="sheet-header">
    <img
        class="profile-img"
        src="{{item.img}}"
        data-action="editImage"
        data-edit="img"
        title="{{item.name}}"
    />
    <div class="header-fields">
        <h1 class="charname">
            <input
                name="name"
                type="text"
                value="{{item.name}}"
                placeholder="Name"
            />
        </h1>
        <div class="resource">
            <label>Quantity</label>
            <input
                type="number"
                name="system.quantity"
                value="{{system.quantity}}"
            />
        </div>
        <div class="resource">
            <label>Weight</label>
            <input
                type="number"
                name="system.weight"
                value="{{system.weight}}"
            />
        </div>
    </div>
</header>

{{!-- Sheet Tab Navigation --}}
<nav class="sheet-tabs tabs" data-group="primary">
    <a class="item active" data-tab="description" data-group="primary">Description</a>
</nav>

{{!-- Sheet Body --}}
<section class="sheet-body">
    {{!-- Description Tab --}}
    <div class="tab active" data-group="primary" data-tab="description">
        {{editor system.description target="system.description"
        button=true owner=owner editable=editable rollData=rollData}}
    </div>
</section>
